.name {
    font-size: 2rem;
    color: black;
    text-align: left;
    margin: 1rem 0rem;
}

.header {
    width: 100%;
    height: 75px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.24);
}

.titles {
    font-size: 1.2rem;
}

.titles span {
    color: #00897b;
}

.dashContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1.5rem;
}

.leftSide {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.rightSide {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.lastConsults {
    width: 100%;
    min-height: 400px;
}

.lastConsults li {
    display: block;
}

.payments {
    min-height: 400px;
    width: 100%;
}

.boxPayments {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #00b3a1;
    margin-top: 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
}

.lastAuths {
    min-height: 400px;
    width: 100%;
}

.lastStudies {
    min-height: 400px;
    width: 100%;
}

.closeButton {
    width: 100px;
    font-size: 1.1rem;
    background-color: transparent;
    border: 1px solid #00897b;
    color: #00b3a1;
    cursor: pointer;
    border-radius: 5px;
}

.closeButton:hover {
    transition: all 0.5s ease-in-out;
    background-color: #00897b;
    color: white;
}

.favorites {
    min-height: 400px;
    width: 100%;
}

.lastPrescriptions {
    min-height: 400px;
    width: 100%;
}

.noOne {
    font-size: 2rem;
    color: #00897b;
    text-align: center;
}

@media (max-width: 500px) {
    .titles,
    .name {
        text-align: center;
    }

    .arrowForward {
        display: none;
    }

    .dashContainer {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .leftSide,
    .rightSide {
        width: 100%;
    }

    .payments,
    .favorites,
    .lastAuths,
    .lastConsults,
    .lastPrescriptions,
    .lastStudies {
        min-height: 0px;
    }
}
