@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*,
*::before,
*::after {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}