.carousel {
    width: 100%;
    height: 100vh;
}

.cardContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cardContainer:first-child {
    z-index: 0;
}

.card {
    width: 100%;
    height: 100vh;
}

@media (max-width: 1366px) {
    .card {
        height: 100%;
    }
}

@media (max-width: 1280px) {
    .cardContainer {
        height: 110vh;
    }
}

@media (max-width: 500px) {
    .carousel {
        height: fit-content;
    }
}
