.drButton {
    border: 0px;
    background-color: white;
    cursor: pointer;
}
.drDisplay{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.paginationButtons{
    width:80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
}
.paginationButtons a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid  #a6f6f1;
    font-family: 'Montserrat', sans-serif;
    color: grey;
    cursor: pointer
}
.paginationButtons a:hover{
    background-color: #a6f6f1;
}
.paginationActive a{
    background-color: #a6f6f1;
}