.container{
  height: 628px;
}
.cont_presc{
  width: 401px;
  height: 600px;
  padding: 15px;
  padding: 0;
  margin: 0 20px 0 20px;
}

/* .container{
  width: 401px;
  height: 574px;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
  margin: 0 20px 0 20px;
} */

.line{
  margin: 10px 0 10px 0;
}

.t_center{
  margin-top: 25px;
  margin-bottom: -15px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;/*--*/
}

.t_right{
  margin: 15px 0 10px 0;
}

.p_right{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;/*--*/
}
.date{
  font-size: 13px;
  margin-top: 0px;
}

.p_left{
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;/*--*/
}

.signature{
  margin-top: 30px;
  margin-bottom: 30px;
}

.docdetail{
  font-size: 13px;
  align-self: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last{
  margin-bottom: 0;
}

.actions{
  margin-top: 0;
}

.addmed{
  width: 80px;
  /* height: 35px; */
  font-size: 10px;
}