.conteinerAll {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: center;
}

.formConteiner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.imgConteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imgConteiner img {
    width: 250px;
    height: 85px;
}

.inputs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
}

.textField {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.textField label {
    padding: 10px;
}

.successRequest {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #41aea9;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.successRequestContent {
    margin-left: 4%;
    margin-top: 16%;
}

.successRequestTitle {
    color: #213e3b;
    font-size: 50px;
    margin-bottom: 50px;
}

.successRequestSubTitle {
    font-size: 30px;
    color: #ffffff;
}

.buttonVolverSuccess {
    margin-top: 50px;
    width: 90px;
    height: 30px;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1366px) {
    .formConteiner {
        margin-top: 6rem;
        font-size: 1.3rem;
    }
}

@media (max-width: 500px) {
    .formConteiner {
        margin-top: 10rem;
        align-items: center;
        font-size: 1.3rem;
        width: 100%;
    }

    .inputs {
        margin: 2rem auto;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }
}
