@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

.container {
    align-items: center;
    background-color: #e8ffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.section {
    font-weight: 200;
    font-size: 1.3rem;
    width: 100%;
    background-color: #f1f1f1;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion {
    width: 50%;
    height: max-content;
    background-color: #fff;
    margin: 10px 0;
    text-align: left;
    padding: 1rem;
}

.description {
    color: gray;
    padding-left: 30px;
}