.bar {
    display: flex;
    height: 75px;
    justify-content: space-between;
    left: 0;
    margin: 0 10px;
    position: sticky;
    top: 0;
    z-index: 100000;
}

.logo {
    height: 100%;
    padding: 0;
    width: fit-content;
}

.logo .img {
    height: 60px;
    width: auto;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 5px;
}

.logB {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    width: 75px;
    height: 30px;
}

.linkAsociate {
    color: #000;
    font-size: 1.1rem;
}

.login {
    cursor: pointer;
    margin: 0 10px;
    border: none;
    outline: none;
    background-color: #5684e0;
    color: white;
    border-radius: 25px;
    font-size: 1.2rem;
    width: 75px;
    height: 30px;
}

@media (max-width: 400px) {
    .bar {
        width: 100%;
        flex-wrap: wrap;
        z-index: 100000;
        align-items: center;
        padding: 0 10px;
    }

    .logB {
        display: none;
    }
}
