.form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 80%;
    height: 470px;
}

.datos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

.title {
    display: flex;
    margin-left: 13%;
}
.ajuste {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.datosTitular {
    display: flex;
    flex-direction: column;
}
.firstColumn {
    display: flex;
    flex-direction: column;
    background: rgb(65, 174, 169, 0.3);
    height: fit-content;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    justify-content: space-around;
}

.datosEmpresa {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: rgb(65, 174, 169, 0.3);
    height: fit-content;
    border-radius: 10px;
    justify-self: right;
}
.salud {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    height: fit-content;
    padding: 10px;
    background: rgb(65, 174, 169, 0.3);
    border-radius: 10px;
}
.segmentos {
    margin-top: 5px;
    margin-bottom: 5px;
}
