.container {
    display: flex;
    margin: 25px auto;
}

.swal2-container,
.swal2-center,
.swal2-backdrop-show {
    z-index: 600000;
}

.editMedic {
    visibility: hidden;
    cursor: pointer;
    background: transparent;
    border: none;
}

.medicContainer:hover > .editMedic {
    visibility: visible;
}

.medicContainer {
    text-transform: capitalize;
}

.email {
    text-transform: lowercase;
}

.profilePic {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.accepted {
    background-color: #01ff70;
    border-radius: 25px;
}

.pending {
    background-color: #ff851b;
    border-radius: 25px;
}

.rejected {
    background-color: #ffcccc;
    border-radius: 25px;
}

.withdrawn {
    background-color: #aaaaaa;
    border-radius: 25px;
}

.fab {
    position: sticky;
    bottom: 0;
    right: 0;
}
