.carousel {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 70%;
    z-index: 0;
}

.card {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

@media (max-width: 400px) {
    .carousel {
        height: fit-content;
        width: 100%;
        margin: 2rem 0;
    }
}
