/* FIRST SCREEN */
.all {
    width: 100%;
    height: 100%;
}
.first {
    position: absolute;
    top: 0;
    background-color: #34a7a1;
    width: 100%;
}

.gifContainer {
    display: none;
}

.welcome,
.welcome2 {
    border-right: 0.15em solid rgb(42, 42, 42);
    font-size: 5rem;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
}
.welcome {
    width: 550px;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    margin-top: 17rem;
}

.welcome2 {
    width: 550px;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: 0.15em solid rgb(42, 42, 42);
    }
    100% {
        border: none;
    }
}

@-webkit-keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: 0.15em solid rgb(42, 42, 42);
    }
    100% {
        border: none;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: 0.15em solid rgb(42, 42, 42);
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    99.9% {
        border-right: 0.15em solid rgb(42, 42, 42);
    }
    100% {
        opacity: 1;
        border: none;
    }
}

@keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
@-webkit-keyframes blink {
    50% {
        border-color: tranparent;
    }
}

.typewriter {
    color: #000;
    position: absolute;
    padding: 30px;
    align-items: center;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em;
    /* Adjust as needed */
    animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.videoContainer {
    width: 100%;
    height: 100%;
}

.videoContainer video {
    width: 100%;
    height: 100%;
}

/* SECOND SCREEN */

.promotions {
    background-color: #34a7a1;
    margin-top: 95.92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.icon1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 0;
}

.icon2_3 {
    width: 90vw;
    margin-top: 45vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 3;
}

.bigTitlePromotions {
    color: #fff;
    text-align: center;
    order: 1;
    position: absolute;
    font-size: 6rem;
}

.subtitlePromotions {
    color: #fff;
    text-align: center;
    font-size: 2rem;
}

.blueSpan {
    color: #0059fd;
}

.subtitlePromotions2 {
    font-size: 1.7rem;
    margin-top: 10px;
}

/* THIRD SCREEN */

.promotions2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    height: 30vh;
    background-color: #34a7a1;
    color: white;
}

.promotions2_titles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-size: 1.3rem;
    text-align: left;
}

.promotions2_descriptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
    font-size: 1.3rem;
    text-align: center;
}

.promotions2_eachDescription {
    width: calc(100% / 4);
    padding: 15px;
    font-weight: lighter;
}

/* FOURTH SCREEN */

.nov {
    margin: 2rem 0 6rem 0;
    font-size: 3rem;
    color: white;
    text-align: center;
    z-index: 2;
}

.carrouselNews {
    padding-top: 3rem;
    color: white;
    height: 110vh;
    width: 100%;
    background-color: #627caa;
}

.carrouselNews img {
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    z-index: -2;
}

/* FIFTH SCREEN */
.digital {
    height: 100vh;
    width: 100%;
    color: #0059fd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}

.digitalTitle {
    text-align: center;
    font-size: 5rem;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.digitalSubtitle {
    font-size: 3rem;
    margin-top: 2rem;
}

.digitalDescriptions {
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 80vh;
}

.digitalDescription1,
.digitalDescription2 {
    width: 30%;
    text-align: center;
}

/* SIXTH PAGE */

.ourPlans {
    width: 100%;
    height: 110vh;
}

/* SEVENTH PAGE */

.contactSection {
    width: 100%;
    height: 110vh;
    background-color: #1c8383;
    color: white;
}

.titlesContact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5rem;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 2rem;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.icons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.icon {
    display: flex;
    flex-direction: column;
    background-color: rgba(162, 253, 247, 0.75);
    border-radius: 20px;
    height: 100px;
    width: 100px;
}

.each {
    height: 50px;
    width: 50px;
}

.des {
    width: 100px;
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-evenly;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 500px;
    background-color: rgb(166, 246, 241);
    background-color: linear-gradient(
        90deg,
        rgba(166, 246, 241, 1) 0%,
        rgba(225, 232, 233, 1) 39%
    );
    /* opacity: 80%; */
    margin: 0px;
}

.h2h {
    color: #41aea9;
    font-size: 50px;
    padding: 30px;
    align-items: center;
    width: 500px;
}
.adjust {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.desM {
    color: rgb(5, 5, 5);
    font-size: 23px;
    align-items: center;
    width: 550px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.deco {
    padding: 50px;
}

.news {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    height: 500px;
    padding-top: 0px;
    margin-top: 0px;
}

.first h3 {
    font-size: 70px;
}

@media (max-width: 1440px) {
    .promotions {
        margin-top: 48%;
        background-color: #34a7a1;
        height: 100vh;
        width: 100%;
    }

    .bigTitlePromotions {
        line-height: 8rem;
    }
    .subtitlePromotions {
        padding-top: 7rem;
    }

    .promotions2 {
        margin-top: -1rem;
    }

    .infoAll {
        width: 100%;
    }

    .carrouselNews {
        height: 134vh;
        background-color: #3f5d94;
    }

    .news {
        width: 100%;
        padding: 0;
        margin: 0;
        height: fit-content;
    }

    .titlesContact {
        margin-top: 1rem;
    }
}

@media (max-width: 1024px) {
    .first {
        width: 100%;
        height: 100vh;
    }

    .promotions {
        margin-top: 90vh;
    }
}

@media (max-width: 500px) {
    .all {
        overflow-x: hidden;
    }

    .first {
        background: #fff;
        background-position: center;
        background-size: cover;
        height: 110vh;
    }

    .gifContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .gifContainer img {
        width: 100%;
    }

    .typewriter {
        width: 100%;
        margin-top: 4rem;
    }

    .welcome,
    .welcome2 {
        font-size: 3rem;
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .firstTitles {
        font-size: 2.5rem;
        position: relative !important;
        text-align: center;
    }

    .videoContainer {
        width: 100%;
        height: 100vh;
        display: none;
    }

    .videoContainer video {
        max-width: 100%;
        height: 100%;
    }

    .iconMedicRecord {
        display: none;
    }

    .iconMedicPhone {
        display: none;
    }

    .icon1 {
        position: absolute;
        top: 0;
    }

    .bigTitlePromotions {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .subtitlePromotions,
    .subtitlePromotions2 {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .promotions2 {
        height: 70vh;
    }

    .promotions2,
    .promotions2_titles,
    .promotions2_descriptions {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .promotions2_titles,
    .promotions2_descriptions {
        margin: 1rem auto;
    }

    .promotions2_eachDescription {
        width: 100%;
    }

    .carrouselNews {
        background-image: url('../../../assets/images/bg-news.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .carrouselNews .backgroundNews {
        display: none;
    }

    .infoAll {
        display: flex;
        flex-direction: column;
    }

    .nov {
        font-size: 2rem;
        margin: 2rem 1rem;
        order: 0;
    }

    .icons {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .each1,
    .each2,
    .each3,
    .icon {
        width: 75px;
        height: 75px;
        border-radius: 10px;
    }

    .news {
        width: 100%;
    }

    .digital {
        margin-top: -0.5rem;
    }

    .digitalTitle {
        font-size: 3.5rem;
    }

    .digitalSubtitle {
        font-size: 2rem;
    }

    .digitalDescriptions {
        font-size: 1.3rem;
        width: 100%;
    }

    .digitalDescription1,
    .digitalDescription2 {
        width: 50%;
        margin: 0 10px;
    }

    .ourPlans {
        height: fit-content;
    }

    .contactSection {
        width: 100%;
    }

    .titlesContact {
        font-size: 1.3rem;
        margin-top: 5rem;
    }

    .chatbot {
        width: 60px;
        height: 60px;
        bottom: 50px !important;
        right: 40px !important;
    }
}
