.container {
    display: flex;
    margin: 25px auto;
}

.editMedic {
    visibility: hidden;
    cursor: pointer;
}

.medicContainer:hover>.editMedic {
    visibility: visible;
}

.medicContainer {
    text-transform: capitalize;
}

.email {
    text-transform: lowercase;
}

.profilePic {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}