.container {
    display: flex;
    margin: 25px auto;
}

.editMedic {
    visibility: hidden;
    cursor: pointer;
}

.medicContainer:hover>.editMedic {
    visibility: visible;
}

.medicContainer {
    text-transform: capitalize;
}

.email {
    text-transform: lowercase;
}

.profilePic {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.accepted {
    background-color: #01FF70;
    border-radius: 25px;
}

.pending {
    background-color: #FF851B;
    border-radius: 25px;
}

.rejected {
    background-color:#FFCCCC;
    border-radius: 25px;
}

.withdrawn {
    background-color:#aaaaaa;
    border-radius: 25px;
}