.comp_page{
  width: 100%;
  height: 100%;
  margin-top: 200px;
  /* background-color: rgb(204, 206, 206); */
  /* height: 300px; */
 
  /* min-height: 100vh; */
  /* background: url(../../assets/fondo1.png) no-repeat center center fixed; */
  /* background-size: contain; */
  background-size: cover;
  /* -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover; */
  display: flex;
  flex-direction: column;
  justify-content: center;  /* vertical */
  align-items: center;
  margin: 0px;
}

img{
  margin: 0px;
  padding: 0px;
}
.container_img{
  width: 100%;
  height: 100px;
  margin-bottom: -10px;
  padding: 0px;
}
.fondotop{
  width: 100%;
  height: 100%;
  background-size: contain;
}

.comp_header{
  position: relative;
  padding:5px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center; /* | */
  justify-content: center; /* __ */
  margin: 0px;
}
/* @media (max-width: 500px) {
  .facet_sidebar {
    display: none;
  }
} */

.comp_header_title {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center; /* | */
  justify-content: center; /* __ */
  text-align: center; /* justifica texto */
}
.comp_header_image{
  margin:20px;
}

.comp_sub_header_title{
  font-size: 20px;
}

.back-definer{
  width: 100%;
  height: 100%;
  background-color: #f1f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  /* vertical */
  align-items: center;
  /* margin-bottom: 50px; */
}

.comp_cont{
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
} 
