.container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* BEGIN HEADER ASIDE */

.header {
    background-image: url('../../../assets/images/bg-login.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 1.5rem;
    height: 100vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 21rem;
    padding-left: 2rem;
}

.header p {
    width: 85%;
    margin-top: 2rem;
}

.goBack {
    background-color: rgb(117, 117, 117);
    margin-bottom: 20rem;
    border-radius: 50%;
}

.goBack:hover {
    background-color: rgb(226, 226, 226);
}

.buttonRegister {
    width: 200px;
    height: 50px;
    border: 3px solid #45b0a9;
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: transparent;
    color: white;
    margin-top: 3rem;
}

.buttonRegister:hover {
    transition: 0.5s all ease-in-out;
    background-color: #45b0a9;
}

/* FINISH HEADER ASIDE  */

/* BEGIN LOGIN SIDE  */

.formLogin {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.itemRole {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.logo {
    width: auto;
    height: 100px;
    user-select: none;
}

.inputData {
    width: 60%;
    margin: 10px;
}

.matricula {
    font-size: 1.3rem;
}

.warningLogin {
    color: red;
}

.userPic {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 25px auto;
}

.buttonLogin {
    width: 200px;
    height: 50px;
    border: 3px solid #878787;
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #45b0a9;
    color: white;
    margin-top: 1.5rem;
    text-align: center;
    outline: none;
    user-select: none;
}

.buttonLogin:hover {
    transition: 0.5s ease-in-out;
    background-color: #79ded7;
}

.formLogin section {
    display: flex;
    width: 90%;
    margin: 20px 10px 7rem 10px;
    justify-content: space-around;
    align-items: center;
}
.formLogin a {
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
    color: black;
}

.formLogin a.visited {
    color: red;
}
.labelRole {
    font-size: 1.3rem;
}

.selectRole {
    width: 60%;
}

.selectDoc {
    width: 60%;
}

.progressLoad {
    margin-top: 1.5rem;
}

.loginUser,
.loguedStyles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonLogout {
    width: 200px;
    height: 50px;
    border: 3px solid red;
    border-radius: 25px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: transparent;
    color: #000;
    margin-top: 1.5rem;
    text-align: center;
    user-select: none;
    outline: none;
}

.buttonLogout:hover {
    transition: 0.5s all ease-in-out;
    background-color: #45b0a9;
    color: #fff;
}

.userEmail {
    font-size: 1.2rem;
}

.a {
    background-color: transparent;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.a:hover {
    text-decoration: underline;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
