.form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 80%;
    height: 470px;
}

.datos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

.title {
    display: flex;
    margin-left: 13%;
}
.ajuste {
    width: 100%;
    display: flex;

    justify-content:space-around;
    

}

.datosTitular {
    display: flex;
    flex-direction: column;
}
.firstColumn {
    padding: 5px;
    display: flex;
    flex-direction: column;
    background: aliceblue;
    height: fit-content;
}

.datosEmpresa {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: aliceblue;
    height: fit-content;
}
.salud {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding: 5px;
    padding: 10px;
}
.segmentos {
    margin-top: 5px;
    margin-bottom: 5px;
}
