.btn{
  display: flex;
  flex-direction: column;
}
.conteinerAll {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
}

.formConteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 90%;
}

.imgConteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imgConteiner img {
  width: 250px;
  height: 85px;
}

.inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.textField {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.textField label {
  padding: 10px;
}

.successRequest {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #41aea9;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.successRequestContent {
  margin-left: 4%;
  margin-top: 16%;
}

.successRequestTitle {
  color: #213e3b;
  font-size: 50px;
  margin-bottom: 50px;
}

.successRequestSubTitle {
  font-size: 30px;
  color: #ffffff;
}

.buttonVolverSuccess {
  margin-top: 50px;
  width: 90px;
  height: 30px;
}
.cartel{
  background-color: #45b0a9;
  width: 100%;  
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
}
.title{
max-width: fit-content;
color:  white;
}
.subtitle{

 max-width: fit-content;
 margin-left: 40px;
 color:  white;
}
.text{
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  display:flex;
  flex-direction: column;
  border-radius: 20px;
}
.loscoso{
display: flex;
margin: 20px 20px 20px 20px;

}
