.root {
    display: grid;
    width: 345px;
    height: 350px;
    margin: 0 25px;
    align-content: flex-start;
}

.media {
    height: 150px;
}

.containerData {
    height: 150px;
}

.title {
    font-size: 1.3rem;
}

.popup {
    justify-self: center;
}

@media (max-width: 1366px) {
    .root {
        height: fit-content;
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 500px) {
    .root {
        height: fit-content;
        width: 100%;
        margin: 0 auto;
    }
}
