.first {
  /*  background-color: #a6f6f1; */
  background: rgb(166, 246, 241);
  background: linear-gradient(
    90deg,
    rgba(166, 246, 241, 1) 0%,
    rgba(225, 232, 233, 1) 39%
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.typewriter h1 {
  color: #41aea9;
  font-size: 100px;
  padding: 30px;
  align-items: center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.icons {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.icon {
  display: flex;
  flex-direction: column;
  background-color: #a6f6f1;
  border-radius: 20%;
  height: fit-content;
  width: fit-content;
  padding: 10px;
}
.each {
  height: 100px;
  width: 100px;
}
.des {
  width: 100px;
  text-align: center;
  padding-bottom: 20px;
}
.info {
  display: flex;
  justify-content: space-evenly;
}
.app {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  height: 500px;
 /*  background-image: url("https://images.unsplash.com/photo-1520552626357-c2f0f963d4bb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHdvbWFuJTIwY2VsbHBob25lfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  
  background-repeat: no-repeat; */
  background-color: rgb(166, 246, 241);
  background-color: linear-gradient(
    90deg,
    rgba(166, 246, 241, 1) 0%,
    rgba(225, 232, 233, 1) 39%
  );
  /* background-color: #988474; */
  opacity: 80%;
  margin:0px;
}

h2 {
  color: #41aea9;
  font-size: 50px;
  padding: 30px;
  align-items: center;
  width: 500px;
  margin-left:50px

  /*    margin-left: 600px; */
}

.desM {
  color: rgb(5, 5, 5);
  font-size: 23px;
  align-items: center;
  width: 550px;
  margin-left: 0px;
/*   margin: 20px;
  padding: 30px; */
}
.images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.deco {
  padding: 50px;
}

.news {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  height:500px;
  padding-top: 0px;
  margin-top:0px;

}
h3 {
  font-size: 70px;
}
.digital {
  display: flex;
  flex-direction: row-reverse;
    justify-content:space-around;
  justify-content:space-between;
padding-right: 0px;
margin-right: 0px;
/*   background-image: url("https://images.unsplash.com/photo-1576091160501-bbe57469278b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvbmUlMjBkb2N0b3J8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-size: 500px; */
  height: 300px;
 /*  background-repeat: no-repeat;
  background-position: right top; */
  background-color: rgb(166, 246, 241);
  background-color: linear-gradient(
    90deg,
    rgba(166, 246, 241, 1) 0%,
    rgba(225, 232, 233, 1) 39%
  );
  opacity: 80%;
}
.credential {
  color: #41aea9;
  font-size: 50px;
  padding: 0px;
  width: 500px;
  margin-left:50px

  /*    margin-left: 600px; */
}

.desC {
  color: rgb(5, 5, 5);
  font-size: 23px;
  width: 650px;
  text-align: justify;
  text-justify: auto;

/*   margin: 20px;
  padding: 30px; */
}
#contact{
  height:1000px;

}
.plans{
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  width:800px;
  height: fit-content;


}
#nov{
  display: flex;
  justify-content: center;
  padding-top:40px;
  padding-bottom: 0px;
}
#photo{
  background-image: url("https://images.unsplash.com/photo-1520552626357-c2f0f963d4bb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHdvbWFuJTIwY2VsbHBob25lfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat; 
  width: 45%;
  height: 100%;
  padding-top: 0px;
  margin-top: 0px;

}
.adjust{
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.doctor{
  background-image: url("https://images.unsplash.com/photo-1576091160501-bbe57469278b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvbmUlMjBkb2N0b3J8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  height: 100%;
  background-repeat: no-repeat;
  width: 36%;
  padding-right: 0px;
  margin-right: 0px;
}
.cd{
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}