.integra-210 {
    background-color: #21c9d9;
}

.integra-310 {
    background-color: #1326ab;
}

.integra-410 {
    background-color: #7159fe;
}

.integra-450 {
    background-color: #3baca6;
}

.integra-510 {
    background-color: #e13727;
}
