.root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.media {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.media img {
    width: 400px;
}

.media h2 {
    font-size: 5rem;
    color: #fff;
}

.list {
    font-size: 1rem;
}

.buttonInfo {
    color: red;
    border: 1px solid red;
}

.buttonInfo:hover {
    transition: all ease 0.5s;
    border: 1px solid rgb(211, 0, 0);
}

@media (max-width: 1366px) {
    .media {
        height: fit-content;
    }
}

@media (max-width: 400px) {
    .media {
        height: 40vh;
    }

    .media img {
        width: 200px;
    }

    .media h2 {
        font-size: 3rem;
    }

    .cobertura {
        font-size: 1.5rem;
        text-align: center;
    }
}
