/* .cont1{padding: 0;} */
.tabs{
  padding: 0;
width: 100%;
background-color: #eb4411;
display: flex;
flex-direction: column;
align-items: center;/* | */
justify-content: center; /* -- */
}

.AdminPlans-plansContainer{
  padding: 0px !important;
}

.MuiBox-root, .MuiBox-root{
  padding: 0px !important;
}