.div {
  align-content: center;
}

.bar {
  align-items: center;
  background-color: #41aea9;
  box-shadow: 0 5px 6px -6px black;
  display: flex;
  height: 75px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logB {
  -moz-box-shadow: 0 5px 6px -6px black;
  -webkit-box-shadow: 0 5px 6px -6px black;
  background-color: #a6f6f1;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 5px 6px -6px black;
  color: black;
  display: flex;
  font-size: large;
  height: fit-content;
  margin-right: 10px;
  outline: none;
  padding: 10px;
}

.logB a {
  color: #000;
}

.logB:hover {
  opacity: 0.8;
  cursor: pointer;
}

.img {
  width: auto;
  height: 75px;
}

.navL {
  text-decoration: none;
}

.buttonContainer {
  display: flex;
  width: 30%;
  justify-content: flex-end;
}

.buttonContainer button a {
  color: black
}