.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.navbar {
    align-items: center;
    background-color: #4ca1a3;
    box-shadow: 5px 1px 10px rgb(58, 58, 58);
    color: white;
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding: 0 10px;
    position: sticky;
    width: 100%;
    z-index: 2;
}


.ppLogo {
    height: 75px;
    margin-left: 25px;
    width: auto;
}

.navIcon {
    margin: 0 16px;
    cursor: pointer;
}

.navIcon:hover {
    transition: color .5s ease-in-out;
    color: #213e3b;
}

.userData {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    padding-right: 25px;
    width: 100%;
}

.userData .namesContainer {
    margin: 0 10px;
    text-align: end;
}

.profilePic {
    color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.expandMore {
    color: white;
}

/* NAVBAR */

/* ASIDE */

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.link {
    color: black;
}

.link svg {
    color: black;
}

.activeLink li {
    color: #BF4E30;
}

.activeLink svg {
    color: #BF4E30;
}

