/* card: {
    maxWidth: 90%;
  }

  textField: {
    width: 90%;
  }

dividerFullWidth: {
    margin: `5px 0 0 ${theme.spacing(9)}px`;
  }


  largeAvatar: {
    width: theme.spacing(7),
    height: theme.spacing(7),
  }, */

.cardContainer{
    align-items: center;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    /* height: 100%; */
    min-height: 700px;
    /* max-height: 700px; */
    justify-content: center;
    text-align: center;
    width: 100%;
}
.section {
    font-size: 1.2rem;
    width: 100%;
    background-color: #41aea9;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}
.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    z-index: 0;
    margin:20px;
    margin-top:120px;
}
.medicData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.7%;
    margin-left: 9.5%;
    margin-right: 9.5%;
    /* padding:12px; */
    z-index: 0;
}

.medicFirstColumn{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
}
.medicSecondColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.patientData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.7%;
    margin-left: 9.5%;
    margin-right: 9.5%;
    /* padding:12px; */
}

.patientFirstColumn{
    display:flex;
    flex-direction: row;
}
.patientSecondColumn{
    display:flex;
    flex-direction: column;
}

.form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:12px;
    /* width: 79.2%; */
    /* margin-left: 8%; */
    /* margin-top: 2%;
    margin-bottom: 2%; */
}
.input{
    /* width: 79.2%; */
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.buttons{
    display: flex;
    justify-content: center;
}
.btn{
    margin: 2%;
}

.medicines{
    width: 100%;
    margin: 25px 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

}

.orders{
    width: 100%;
    margin: 25px 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

}

.mydiv{
    width: 79.2%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color:  rgb(104, 101, 101);;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 12px;
    /* background-color: aquamarine; */
    box-sizing: border-box ;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 4px;
    margin-bottom: 10px;
}
.mydiv:hover{
    border: 1px solid black;
}

.mydivt{
    margin-bottom: 5px;
}

.mydiv2{
    width: 79.2%;
    margin-top: 20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color:  rgb(104, 101, 101);
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 12px;
    /* background-color: aquamarine; */
    box-sizing: border-box ;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 4px;
}
.mydiv2:hover{
    border: 1px solid black;
}


.onelinebtns{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.limed{
    list-style-type: disc;
}

.posinput{
    margin: 5px 0 15px 0;
    padding: 10px;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 3px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 15px;
    color:  rgb(104, 101, 101);
}

.btnprint{
    width: 80px;
    height: 30px;
    align-self: flex-end;
    color:#41aea9;
}
