.ProfilePage_Cont{
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: flex-start;
}

.title{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.info_cont{
  background-color: #f1f1f1f1;
  padding: 40px 10px 40px 40px;
  /* padding: 40px ;
  padding-right: -40px; */
  min-width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
  border: 1px solid rgba(46,53,66,.1);
  box-shadow:  4px 4px 7px rgb(46 53 66 / 10%), 0 9px 25px 0 rgb(46 53 66 / 5%);
}
.info_cont:hover {
  box-shadow: 0 0 8px #3e3e3e;
  transform: scale(1.005);
}

.on_line_cont{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.one_info_cont{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.profile_title{
  color: #2b8680;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Nunito', sans-serif ;
  margin-right: 15px;
}

.profile_info{
  font-size: 21px;
  font-weight: 400;
  font-family: 'Nunito', sans-serif ;
  margin-right: 30px;
}

.modif_info{
  width: 100%;
   display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  /* justify-items: center; */
  padding-right: 30px;
}
.mod_form_cont{
 width: 100%;
  margin:0;
  padding:0;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /*__*/
  align-items: flex-start; /* | */
}

.form_left_col{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 25px;
}

.form_right_col{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 25px;
}

#modbtn{
  width: 100px;
  margin: 0 30px 0 0;
  align-self: flex-end;
}

#backbtn{
  width: 88px;
  margin: 30px 0 0 0;
  align-self: flex-end;
}
#savebtn{
  width: 100px;
  margin: 30px 0 0 0;
  align-self: flex-end;
}

.inputSel{
 cursor: pointer;
}

.inputSel:hover{
  background-color: #a6e2de;
  cursor: pointer;
}
